<form action="">
    <label for="customer_name">Customer Name</label>
    <input type="text" name="customer_name" id="customer_name">
    <br>
    <label for="remarks">Remarks</label>
    <input type="text" name="remarks" id="remarks">
    <br>
    <label for="laundry_category">Laundry Category</label>
    <input type="text" name="laundry_category" id="laundry_category">
    <br>
    <label for="weight">Weight</label>
    <input type="text" name="weight" id="weight">
    <br>
    <button type="submit">Add Laundry</button>
</form>