<style>
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    height: 100%; /* Set a fixed height for all cards */
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.5rem;
    font-weight: bold;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Profit Today</h5>
                    <p class="card-text">{{ profit }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Customer Today</h5>
                    <p class="card-text">{{ customer }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Claimed Laundry Today</h5>
                    <p class="card-text">{{ claimed_laundry }}</p>
                </div>
            </div>
        </div>
    </div>
</div>