<div>
    <table>
        <h3>
            Supply IN/OUT
        </h3>
        <thead>
            <th>
                Date
            </th>
            <th>
                Supply Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Type
            </th>
            <button>
                Manage Supply
            </button>
        </thead>
        <tbody>
            <td>
                static
            </td>
            <td>
                static
            </td>
            <td>
                static
            </td>
            <td>
                `IN\USED` static
            </td>
        </tbody>
    </table>
</div>
<div>
    <table>
        <thead>
            <th>
                ID
            </th>
            <th>
                Supply Name
            </th>
            <th>
                Stock Available
            </th>
        </thead>
        <tbody>
            <td>
                static
            </td>
            <td>
                static
            </td>
            <td>
                static
            </td>
        </tbody>
    </table>
</div>