<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/laundry_list.js') }}"></script>
<style>
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

#additionalInputs{
    display: none;
}

.btn-primary, .btn-danger {
    width: 70px;
}

</style>
<div class="container mt-4">
    <!-- Table for Laundry List -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Queue</th>
                <th>Customer Name</th>
                <th>Status</th>
                <th>Total Amount</th>
                <th>Pay Status</th>
                <th>Amount Tendered</th>
                <th>Amount Change</th>
                <th>Remarks</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in laundry_list_all_obj %}
            <tr>
                <td>{{ i.date_created }}</td>
                <td>{{ i.queue }}</td>
                <td>{{ i.customer_name }}</td>
                <td>
                    {% if i.status==0 %}
                        <span class="badge bg-warning">Pending</span>
                    {% elif i.status==1 %}
                        <span class="badge bg-info">Ongoing</span>
                    {% elif i.status==2 %}
                        <span class="badge bg-success">Ready</span>
                    {% elif i.status==3 %}
                        <span class="badge bg-primary">Claimed</span>
                    {% endif %}
                </td>
                <td>{{ i.total_amount }}</td>
                <td>
                    {% if i.pay_status==1 %}
                        <span class="badge bg-success">Paid</span>
                    {% else %}
                        <span class="badge bg-danger">Unpaid</span>
                    {% endif %}
                </td>
                <td>{{ i.amount_tendered }}</td>
                <td>{{ i.amount_change }}</td>
                <td>{{ i.remarks }}</td>
                <td>
                    <a href="/edit_existing_laundry/{{ i.id }}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="/delete_laundry/{{ i.id }}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container mt-4">
    <!-- Form for Adding Laundry -->
    <form action="/save_laundry" method="post">
        <div class="mb-3">
            <label for="customer_name" class="form-label">Customer Name</label>
            <input type="text" class="form-control" name="customer_name" id="customer_name">
        </div>
        <div class="mb-3">
            <label for="remarks" class="form-label">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="remarks">
        </div>
        <div class="mb-3">
            <label for="laundry_category" class="form-label">Laundry Category</label>
            <select class="form-select" id="laundry_category" name="laundry_category">
                <option selected disabled>Select Value</option>
                {% for i in laundry_categories_all %}
                    <option value="{{ i.name }}">{{ i.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="weight" class="form-label">Weight (kg)</label>
            <input type="number" class="form-control" name="weight" id="weight">
        </div>
        <table id="laundry_table" class="table table-bordered">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Unit Price</th>
                    <th>Weight</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <input type="hidden" name="amount" id="amount">
        <div class="mb-3">
            <label for="paid" class="form-check-label">Pay</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="paid" id="paid" value="1">
            </div>
        </div>
        <div id="additionalInputs">
            <div class="mb-3">
                <label for="amount_from_cus" class="form-label">From Customer ₱:</label>
                <input type="number" class="form-control" name="amount_from_cus" id="amount_from_cus" placeholder="₱amount.00">
            </div>
            <div class="mb-3">
                <label for="change" class="form-label">Change ₱:</label>
                <input type="number" class="form-control" name="change" id="change" placeholder="₱change.00" readonly>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Laundry</button>
    </form>
</div>
