<div>
    <table>
        <thead>
            <th>
                Date
            </th>
            <th>
                Queue
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Status
            </th>
            <th>
                Action
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    static
                </td>
                <td>
                    static
                </td>
                <td>
                    static
                </td>
                <td>
                    static
                </td>
                <td>
                    <button>
                        Edit
                    </button>
                    <button>
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button>
        Add Laundry
    </button>
</div>