<div>
    <form action="">
        <label for="category">Category</label>
        <input type="text" name="category" id="Category">
        <br>
        <label for="price_kg">Price per kg.</label>
        <input type="text" name="price_kg" id="price_kg">
        <br>
        <button type="submit">Add Category</button>
    </form>
</div>
<div>
    <table>
        <thead>
            <th>
                Name
            </th>
            <th>
                Action
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    static
                </td>
                <td>
                    <button>
                        Edit
                    </button>
                    <button>
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>