<div>
    <form action="/save_supply" method="post">
        <label for="supply">Supply</label>
        <input type="text" name="supply" id="supply">
        <br>
        <button type="submit">Add Supply</button>
    </form>
</div>
<div>
    <table>
        <thead>
            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            
        </thead>
        <tbody>
            {% for i in supply_list_all_obj %}
            <tr>
                <td>
                    {{ i.name }}
                </td>
                <td>
                    {{ i.qty }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>